<h1> {{ heroe.nombre | uppercase}} <small>{{ heroe.aparicion | date:'y'}}</small> 

<hr>

<div class="row heroeInfo">

        <div class="col-md-4">  
            <img [src] = "heroe.img" class="img-fluid">

            <a href="heroes" [routerLink] = "['/heroes']" class="btnRegresar btn btn-outline-danger btn-block">Regresar..</a>
        </div>
        <br><br>
        
        <div class="col-md-8">

        <h3> {{ heroe.nombre }} </h3>

        <hr>

        <p>  
            {{ heroe.bio }}
        </p>

        <div class="container" *ngIf = "heroe.casa == 'Marvel'">        
            <img src = "../../../assets/img/marvel.jpg">
        </div>

        <div class="container" *ngIf = "heroe.casa == 'DC'" >        
            <img src = "../../../assets/img/DC.png" style="width:120x; height:120px;" >
        </div>

        </div>

        <br>
        
         
</div>